@media (min-width:1000px){
    header {
        height: 8vh;
        display: flex;
        flex-direction: row-reverse;
        details {
            display: none;
        } 
    }
    h1 {
        font-size: 42px;
    }

    nav {
        width: 50%;
        > ul {
            width: 100%;
            display: flex;
            margin: 0;
            list-style-type: none;
            justify-content: space-between;
        }

        a {
            padding: 3%;
            text-decoration: none;
            color: black;
            font-size: 22px;
            text-transform: uppercase;

            &:hover {
                color: $firstColor;
            }
        }

        
    }

    .carousel-inner {

        h5 {
            font-size: 44px;
        }
    
        p {
            font-size: 26px;
        }

        aside {
            background-repeat: no-repeat;
        }

        .carousel-caption {
            margin-bottom: 10%;
        }
    }

    .contents {
        > article {
            display: flex;
            height: 50vh;
        }

        aside {
            height: 100%;
            width: 100%;
        }

        h1 {
            font-size: 48px;
        }

        p {
            font-size: 30px;
        }

        a {
            font-size: 22px;
            padding: 2%;
        }
    }

    .berries {
        width: 100%;
        > article {
            width: 90%;
        }
    }

    .mushrooms {
        width: 100%;
        > article {
            width: 90%;
        }
    }

    .plants {
        width: 100%;
        > article {
            width: 90%;
        }
    }

    .about {
        >article {
            display: flex;
            flex-direction: row-reverse;
            height: 50vh;
        }

        aside {
            width: 50%;
            height: auto;
        }

        i {
            font-size: 34px;
        }

        p {
            font-size: 24px;
            width: 60%;
        }


        section {
            display: flex;
            column-gap: 2vh;
            padding-top: 6%;
        }

        h2 {
            font-size: 40px;
        }

        span {
            font-size: 24px;
            font-weight: 500;
        }
    }
}